* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #eee;
	overflow: hidden;
}

header {
	padding: 0 16px;
	background-color: rgb(146, 41, 138);
	margin: auto -16px;
	padding: 16px 32px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	display: flex;
}

header a {
	justify-content: center;
	align-items: center;
}

.current-page {
	color: black;
}

header h2 {
	color: #fff;
	display: inline-block;
	font-family: 'McLaren', cursive;
	font-weight: 200;
	padding-right: 30px;
	margin: 0 20px;
	border-right: 2px solid rgb(255, 255, 255);
}

header h2:hover {
	color: rgb(0, 0, 0);
}

header .home-logo {
	margin-right: auto;
	display: inline-block;
	color: #008cff;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

footer p {
	color: #ccc;
}

a {
	text-decoration: none;
}
